<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.mapper.CommentMapper">

    <insert id="addComment" useGeneratedKeys="true" keyProperty="commentId">
        INSERT INTO Comment(post_id, user_id, content)
        VALUES (#{comment.postId}, #{comment.userId}, #{comment.content})
    </insert>

</mapper>