<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.mapper.IconMapper">

  <select id="findAll" resultType="Icon">
    SELECT
    ICON.icon_id,
    ICON.domain
    FROM LINK_ICON ICON
  </select>

</mapper>