<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.mapper.LikeMapper">

    <insert id="addPostLike">
        INSERT INTO POST_LIKE(post_id, user_id)
        VALUES (#{post_id}, #{user_id});
    </insert>
</mapper>