<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.domain.like.mapper.PostLikeMapper">

  <insert id="addPostLike">
    INSERT INTO POST_LIKE(post_id, user_id)
    VALUES (#{post_id}, #{user_id});
  </insert>

  <delete id="cancelLike">
    DELETE
    FROM POST_LIKE
    WHERE post_id = #{postId}
      AND user_id = #{userId};
  </delete>

  <select id="hasLike" resultType="boolean">
    SELECT CASE
             WHEN COUNT(*) = 1 THEN 1
             ELSE 0
             END as has_like
    FROM POST_LIKE
    WHERE post_id = #{postId}
      and user_id = #{userId};
  </select>

  <insert id="addCommentLike">
    INSERT INTO COMMENT_LIKE(comment_id, user_id)
    VALUES (#{commentId}, #{userId});
  </insert>

  <delete id="cancelCommentLike">
    DELETE
    FROM COMMENT_LIKE
    WHERE comment_id = #{commentId}
      AND user_id = #{userId};
  </delete>
</mapper>