<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.domain.post.mapper.PollMetadataMapper">

    <insert id="save" parameterType="AddPollPostRequest">
        INSERT INTO POLL_METADATA(post_id, start_date, end_date, allow_multiple_votes)
        VALUES (#{pollPost.postId}, #{pollPost.startDate}, #{pollPost.endDate}, #{pollPost.allowMultipleVotes});
    </insert>

</mapper>