<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.mapper.PollPostMapper">

    <select id="findAllowMultipleVotes" resultType="boolean">
        SELECT allow_multiple_votes
        FROM POLL_POST
        WHERE post_id = #{postId};
    </select>

    <select id="findStartDate" parameterType="long" resultType="java.time.LocalDate">
        SELECT start_date
        FROM POLL_POST
        WHERE post_id = #{postId};
    </select>

    <select id="findEndDate" parameterType="long" resultType="java.time.LocalDate">
        SELECT end_date
        FROM POLL_POST
        WHERE post_id = #{postId};
    </select>

</mapper>