<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.domain.post.mapper.PostHashTagMapper">

    <insert id="saveAll">
        INSERT INTO POST_HASHTAG_MAPPING(post_id, hashtag_id)
        VALUES
        <foreach collection="hashTagIds" item="hashTagId" separator=",">
            (#{postId}, #{hashTagId})
        </foreach>
    </insert>

    <select id="findAllByPostId" resultType="java.lang.Long">
        SELECT hashtag_id
        FROM POST_HASHTAG_MAPPING
        WHERE post_id = #{postId}
    </select>

    <delete id="removeAll">
        DELETE FROM POST_HASHTAG_MAPPING
        WHERE post_id = #{postId} AND
        hashtag_id in
        <foreach collection="hashTagIds" item="hashTagId" separator="," open="(" close=")">
            #{hashTagId}
        </foreach>
    </delete>

</mapper>