<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.mapper.PostImageMapper">

    <insert id="saveAll">
        INSERT INTO POST_IMAGES(post_id, img_url)
        VALUES
        <foreach collection="contentImgUrls" item="contentImgUrl" separator=",">
            (#{postId}, #{contentImgUrl})
        </foreach>
    </insert>

</mapper>