<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.mapper.PostMapper">

  <insert id="addBasicPost" parameterType="BasePost" useGeneratedKeys="true" keyProperty="post.postId"
    keyColumn="post_id">
    INSERT INTO POST(user_id, content, type)
    VALUES (#{userId}, #{post.content}, #{post.postType});
  </insert>

</mapper>