<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.domain.post.mapper.PostOptionsMapper">

    <select id="findValidOptionIds" resultType="Long">
        SELECT option_id
        FROM POST_OPTIONS
        WHERE post_id = #{postId};
    </select>

</mapper>