<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.mapper.VoteMapper">

    <insert id="addDebatePostVote">
        INSERT INTO CHOICE(post_id, option_id, user_id)
        VALUES (#{postId}, #{option_id}, #{user_id});
    </insert>

    <insert id="addPollPostVote">
        INSERT INTO CHOICE(post_id, option_id, user_id)
        <foreach collection="optionIds" item="optionId" separator=",">
            (#{postId}, #{optionId}, #{userId})
        </foreach>
    </insert>

    <select id="find" resultType="Long">
        SELECT option_id
        FROM POST_OPTIONS
        WHERE post_id = #{postId};
    </select>
    
    <select id="check" resultType="boolean">
        SELECT duplicate_check
        FROM POST
        WHERE post_id = #{postId};
    </select>

</mapper>