<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="flab.project.mapper.VoteMapper">

    <insert id="addPostVotes">
        INSERT INTO VOTES(post_id, user_id, option_id)
        <foreach collection="votes" item="vote" open="VALUES" separator=",">
            <foreach collection="vote.optionIds" item="optionId" separator=",">
                (#{vote.postId}, #{vote.userId}, #{optionId})
            </foreach>
        </foreach>
    </insert>

</mapper>