<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
<div style="margin:100px;">
    <h1> 안녕하세요.</h1>
    <h1> 개발자 SNS Prostargram 입니다.</h1>
    <br>
    <p> 아래 코드를 인증 코드란에 입력해주세요.</p>
    <br>

    <div align="center" style="border:1px solid black; font-family:verdana;">
        <h3 style="color:blue"> 회원가입 인증 코드 입니다. </h3>
        <div style="font-size:130%" th:text="${verificationCode}"></div>
    </div>
    <br/>
</div>
</body>
</html>